* {
    font-family: "Roboto";
}

body {
    background-image: url("https://wallpaperaccess.com/full/50044.jpg");
    background-size: cover;
    background-attachment: fixed;
}

h5 {
    color: white;
}

h6 {
    color: white;
}

h1 {
    color: white
}