@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

*{
    font-family: 'Fira Sans', sans-serif;
    color: white;
}


body {
    background-image: url("https://steamuserimages-a.akamaihd.net/ugc/776237589406749686/47CFA7926FACAB20FD39AC337AEE445F816346B8/?imw=5000&imh=5000&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=false");
    
}

.image:hover{
  transform: translateY(-1);
}



.character-card {
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 1rem;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    width: 500px;
    float: left;
}

option {
    color: black;
}

input {
    color: black;
}

.card-container {
    margin-top: 200px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}

.Header {
    padding: 10px;
}
